<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooManager.Properties.Settings.ZooManagerDBConnectionString"
            connectionString="Data Source=DESKTOP-7BT35EM\ADAMUDEMY;Initial Catalog=ZooManagerDB;Persist Security Info=True;User ID=sa;Password=admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>